@font-face {
    font-family: 'Norse Bold';
    src: url('./assets/Norse-Bold.otf') format('opentype');
}

/* Reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    display: flex;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

a {
    color: white;
}

a:visited {
    color: white;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#sideImgContainer {
    max-width: 33vw;
}

#imgCredits {
    position: absolute;
    bottom: 15px;
    left: 120px;
    font-size: 0.8rem;
    color: white;
}

#odinLogo {
    height: 100%;
}

#logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.397);
    position: absolute;
    top: 100px;
    padding: 20px 0px;
    width: 33vw;
    height: 20%;
}

#odinTitle {
    font-size: 4rem;
    font-family: 'Norse Bold';
    color: white;
}


